header { position: fixed; z-index: 99; top: 0; padding: 0 15px 15px; background: rgba(255, 255, 255, .9); }
header + * { margin-top: 125px; }
.user { position: relative; float: left; margin: 5px; width: 110px; height: 160px; overflow: hidden; text-align: center; transition: opacity ease-out .5s, transform ease-out .5s; }
.user.ng-leave-active { opacity: 0; transform: scale(0); transform-origin: right top; }
.user.ng-leave-active.keydown { transform-origin: left; }
.user img { animation: userimg ease-out 2s; }
/*@keyframes userimg { from { opacity: 0; } }*/
.user d { position: absolute; bottom: 0; left: 0; width: 100%; padding: 5px 0; background: rgba(255, 255, 255, .75); color: black; animation: userd ease-out .5s; }
@keyframes userd { from { bottom: -50px; opacity: 0; } }
.user d b { position: relative; top: 0; display: block; background: rgba(0, 0, 0, .75); color: white; animation: userdb ease-out .75s; }
@keyframes userdb { from { top: 50px; } }
.user x { position: absolute; top: 0; right: 0; padding: 0 5px; }