header { position: fixed; z-index: 99; top: 0; padding: 0 15px 15px; background: rgba(255, 255, 255, .9); }
header + * { margin-top: 125px; }

.alert .ng-scope { white-space: pre-wrap; }

.user { position: relative; float: left; margin: 5px; width: 110px; height: 160px; overflow: hidden; text-align: center; transition: opacity ease-out .5s, transform ease-out .5s; }
.user.ng-leave-active { opacity: 0; transform: scale(0); transform-origin: right top; }
.user.ng-leave-active.prev-keydown { transform-origin: left; }
.user.ng-leave-active.next-keydown { transform-origin: right; }
.user img { animation: userimg ease-out 2s; }
/*@keyframes userimg { from { opacity: 0; } }*/
.user x { position: absolute; top: 0; right: 0; padding: 0 5px; }
.user d,
.user k { position: absolute; bottom:0; left: 0; width: 100%; color: black; }
.user d { padding: 5px 0 25px; background: rgba(255, 255, 255, .75); animation: userD ease-out .5s; }
@keyframes userD { from { bottom: -50px; opacity: 0; } }
.user k { background: rgba(0, 0, 0, .15); font-weight: bold; transition: all linear 1.5s; animation: userK ease-out .75s; }
@keyframes userK { from { bottom: -50px; } }
.user k[status^='OUT'] { background: rgba(255, 255, 0, .75); }
.user k[status^='IN'] { background: rgba(64, 255, 64, .75); }
.user k.ng-animate { padding-top: 140px; }