<nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="#"><img src="apple-touch-icon.png" alt="">Stem</a>
    <span class="pull-right">
        <a class="btn glyphicon glyphicon-off" onclick="localStorage.clear(); location.reload();"></a>
        <!-- <a class="btn glyphicon glyphicon-edit" ng-click="edit = true"></a> -->
        <a class="btn glyphicon" ng-click="isCards = (storage.stemCards = !isCards)" ng-class="isCards ? 'glyphicon-th-large' :
'glyphicon-th-list'"></a>
        <a class="btn glyphicon glyphicon-sort" ng-show="touch" ng-click="touchSort()"></a>
    </span>
</nav>

<form class="has-feedback">
    <input
        ng-model               = "userQuery"
        ng-show                = "users"
        typeahead              = "user.Name for user in users | filter:$viewValue"
        typeahead-wait-ms      = "1000"
        typeahead-template-url = "user.html"
        typeahead-on-select    = "stemAdd($item); userQuery = undefined"
        placeholder            = "Select User"
        class                  = "form-control"
        type                   = "text"
        tabindex               = "1"
        required/>
    <button type="reset" class="glyphicon glyphicon-remove"></button>
    <script type="text/ng-template" id="user.html">
        <a>
            <name bind-html-unsafe="match.label | typeaheadHighlight:query"></name>
            <role bind-html-unsafe="match.model.Title | typeaheadHighlight:query"></role> -
            <team bind-html-unsafe="match.model.Extension | typeaheadHighlight:query"></team>
        </a>
    </script>
</form>
<users
    ng-model                   = "stems"
    ng-class                   = "isCards ? 'card' : 'grid'"
    ui-sortable                = "stemSort">
    <user
        ng-repeat              = "user in stems"
        title                  = "{{user.KeyscanStamp}}"
        status                 = "{{user.KeyscanStatus}}"
        onclick                = "this.focus()"
        ui-keydown             = "{ 'backspace delete left up right down': 'stemUpdate($event)' }"
        tabindex               = "1">
            <img
                loadImage
                ng-src         = "{{user.PhotoPath}}"/>
            <info>
                <x10n>{{user.Extension}}</x10n>
                <name>{{user.Name}}</name>
                <role>{{user.Title}}</role>
            </info>
            <scan>
                <status>{{user.KeyscanStatus}}</status>
                <time>{{user.KeyscanFromNow}}</time>
            </scan>
            <connect>
                <a
                    ng-show    = "user.MobileNumber"
                    href       = "tel:{{user.MobileNumber}}"
                    class      = "glyphicon glyphicon-earphone"></a>
                <a
                    ng-show    = "user.Email"
                    href       = "mailto:{{user.Email}}"
                    class      = "glyphicon glyphicon-envelope"></a>
                <a
                    ng-show    = "user.MobileNumber"
                    href       = "sms:{{user.MobileNumber}}"
                    class      = "glyphicon glyphicon-comment"></a>
                <!-- <a
                    ng-show    = "user.MobileNumber"
                    href       = "gtalk:chat?jid={{user.Email}}&amp;from_jid={{my.Email}}"
                    class      = "glyphicon glyphicon-send"></a> -->
            </connect>
            <x
                ng-click       = "stemRemove($index)"
                class          = "glyphicon glyphicon-remove text-danger"></x>
    </user>
</users>
<tasks
    ng-show = "tasks">
    <h5>Tasks ({{(tasks | filter: {GroupName:'OpenForMe'}).length}})</h5>
    <task
        ng-repeat = "task in tasks | filter: { GroupName: 'OpenForMe' } | orderBy:'GroupName':true track by task.TicketID"
        tabindex  = "1">
        <info>
            <id>{{task.TicketID}} » {{task.AssignedToUser}}</id>
            <title>{{task.Title}}</title>
        </info>
        <history></history>
    </task>
<!-- <progressbar class = "progress-striped active" value = "userUpdateInterval"></progressbar> -->
</tasks>