<nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="#"><img src="apple-touch-icon.png" alt="">Stem</a>
    <span class="pull-right">
        <a class="btn glyphicon glyphicon-th-large" onclick="localStorage.userListType = 'grid'; document.querySelector('userList').setAttribute('type','grid')"></a>
        <a class="btn glyphicon glyphicon-th-list" onclick="localStorage.userListType = 'list'; document.querySelector('userList').setAttribute('type','list')"></a>
    </span>
</nav>

<alert ng-repeat = "alert in alerts" type = "{{alert.type}}"> {{alert.msg}} </alert>
<input
    ng-model            = "userSelect"
    ng-show             = "users.Entries"
    typeahead           = "user.Title as user.Name for user in users.Entries | filter: { Name: $viewValue } | orderBy:'Name':false"
    typeahead-on-select = "userSelected($item)"
    placeholder         = "Select User"
    class               = "form-control"
    type                = "text"
    tabindex            = "1"/>
<userList
    ng-model    = "userList"
    ui-sortable = "userSort"
    type        = "{{userListType}}">
    <user
        ng-repeat     = "user in userList"
        status        = "{{user.KeyscanStatus}}"
        ui-keydown    = "{ 'backspace delete up left right down': 'userMove($event, $index)' }"
        onclick       = "this.focus()"
        tabindex      = "1">
            <img onimageload ng-src = "{{user.PhotoPath}}"/>
            <info>
                <team>{{user.BusinessUnitName}}</team>
                <name>{{user.Name}}</name>
                <role>{{user.Title}}</role>
            </info>
            <scan>
                <status>{{user.KeyscanStatus}}</status>
                <time>{{user.KeyscanMoment}}</time>
            </scan>
            <connect>
                <a
                    ng-show  = "user.MobileNumber"
                    href     = "gtalk:chat?jid={{user.Email}}&amp;from_jid={{you.Email}}"
                    class    = "glyphicon glyphicon-send"></a>
                <a
                    ng-show  = "user.MobileNumber"
                    href     = "sms:{{user.MobileNumber}}"
                    class    = "glyphicon glyphicon-comment"></a>
                <a
                    ng-show  = "user.Email"
                    href     = "mailto:{{user.Email}}"
                    class    = "glyphicon glyphicon-envelope"></a>
                <a
                    ng-show  = "user.MobileNumber"
                    href     = "tel:{{user.MobileNumber}}"
                    class    = "glyphicon glyphicon-earphone"></a>
            </connect>
            <x ng-click  = "userMove($event, $index)">&times;</x>
    </user>
</userList>
<div ng-show = "ticket.Entries" class = "panel panel-info">
    <div class = "panel-heading">Tickets ({{(ticket.Entries | filter: {GroupName:'OpenForMe'}).length}})</div>
    <table class = "table table-striped table-responsive">
        <tr>
            <th>TicketID</th>
            <th>Title</th>
            <th>AssignedToUser</th>
        </tr>
        <tr ng-repeat = "ticket in ticket.Entries | filter: {GroupName:'OpenForMe'} | orderBy:'GroupName':true">
            <td><t tooltip = "left">{{ticket.TicketID}}</t></td>
            <td>{{ticket.Title}}</td>
            <td>{{ticket.AssignedToUser}}</td>
        </tr>
    </table>
<!-- <progressbar class = "progress-striped active" value = "userUpdateInterval"></progressbar> -->
</div>